body{
	font-family: 'Nobile', sans-serif;
	background-color: #CCFFFF;
}
*{
	box-sizing: border-box;
}
#navbarNav{
	background-color: #C0C0C0;
}
#nav-header, h1{
	margin-bottom: 15px;
}
.navbar-brand{
	margin-left: 40px;
}
.navbar-toggler{
	margin-right: 30px;
}
#da,#db,#dc{
	box-shadow: 1px 2px 2px 4px #003366;
}
